#div_member{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
  top: 72px;
  left: 2rem;
}

#div_member label {
  width: 150px;
  margin-bottom: 10px;
}

#div_member #label_gender{
  margin-left: 10px;
  width: 100px;
}

#div_member input{
  width: 452px;
  height: 37px;
  border-radius: 3px;
  margin-top: 10px;
  border: 1px solid #999;
  text-align: center;
  margin-bottom: 20px;
  vertical-align: middle;
}
#div_member p{
  font-size: 10px;
  color: red;
  position: relative;
  left: 100px;
  margin-top: -15px;
}
#member_name{
  line-height: 10px;
}
#div_member #input_name{
  width: 280px;
  height: 37px;
  border-radius: 3px;
}
#div_member #gender{
  width: 95px;
  height: 37px;
  position: relative;
  right:40px;
  border-radius: 3px;
}

#member_address input{
  width: 224px;
}

#new_address, #old_address, #btn_edit{
  position: relative;
  right: -3.3rem;
}
#add_address{
  width: 452px;
  height: 37px;
  border-radius: 3px;
  display: block;
  position: relative;
  left: 102px;
}
#div_button{
  display: block;
  position: relative;
  top: 120px;
  left: 102px;
}

#div_apply{
  position: relative;
  display: inline-block;
  margin: 0 auto;
  top: 90px;
}

#tb_apply{
  border-collapse: collapse;
  margin: 0 auto;
  width: 700px;
}

th {
  background-color: #eee;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
}

tr {
  border-top: 1px solid #ddd;
}

td {
  padding: 10px 8px;
  text-align: center;
}

tr.th_first{
  border-left: 1px solid gray;
}

.th_group{
  text-align: center;
}

#btn_delete_history {
  cursor: pointer;
}

#member_address #btn_address, #div_button input {
  border: 0;
  background-color: rgb(133, 198, 241);
  color: white;
}

#div_button input {
  background-color: #777;
}

.container {
  min-height: 900px;
  margin-bottom: 2rem;
}