@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
  width:100%;
  height:100%;
}

ul, li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
  text-decoration:none;
  color:#000;
}

select {
    border: 0;
    background-color: white;
    padding: 0.2rem 1rem;
}

.text_border {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#current_location{
  margin-left:1rem;
}

#current_location,#location_info {
  font-size:1rem;
}

.card-body span {
  display:block;
}

#card_title {
  text-overflow:ellipsis;
  overflow:hidden;
  white-space: nowrap;
  text-align:center;

}

#ep_b_name {
  text-align:center;
  font-size:1.2rem;
  margin-bottom:0.5rem;
}

#near_location_job {
  margin-top:2rem;
}

#go_recruit_details:hover {
    color:#5DB6DE;
}

.card-body {
  text-align:center;
  cursor: pointer;
}

#atuo_keword{
  position:absolute;
  top:60px;
  left:220px;
  z-index:10;
  width:60%;
  display:none;
}

#atuo_keword ul {
  width:100%;
  height:150px;
  border:1px solid #ddd;
  border-radius:0.5rem;
  background-color:#fff;
  padding:0.5rem 0.5rem;
  box-sizing:border-box;
  overflow:auto;
}

#atuo_keword ul li {
  display:block;
  padding-bottom:0.3rem;
  padding-top:0.3rem;
  padding-left:1rem;
  cursor: pointer;
}

#atuo_keword ul li:hover {
  background-color:#eee;
}

button {
  border: 1px solid #777;
  border-radius: 5px;
  cursor: pointer;
}

.manual_box:hover a {
  opacity:0.25;
  transition:.35s;
}

.manual_box:hover .magnifier_img {
  display: block;
  cursor: pointer;
}

.magnifier_img {
  display:none;
  position: absolute;
  top:50%;
  left:48%;
  width:33px;
  height:33px;
  background-image:url('../img/magnifier.png');
  background-repeat:no-repeat;
}

#recommend_box p {
  margin:0.5rem 0rem;
}

#open_resume {
  margin:2rem 0rem;
}

#open_resume_box {
  padding:1rem;
}

#zoom_box {
  position: absolute;
  left:20px;
  text-align:center;
  z-index:9999;
  background-color:rgb(133, 198, 241);
  border-radius:0.3rem;
  height:60px;
  width:200px;
}

#btn_reset {    
    cursor: pointer;
    color:#fff;
    margin: 1rem;
}

#zoom_box img {
  width:28px;
  height:28px;
  cursor: pointer;
  line-height:60px;
}

#zoom_box #btn_zoomIn {
  margin:10px 0;
}

#zoom_box #btn_zoomOut {
  margin:10px 0;
}

.message_alarm {
  display:none;
  width:9.5px;
  height:9.5px;
  border-radius:75px;
  font-size:1rem;
  box-sizing:border-box;
  background-color:rgb(133, 198, 241);
  margin-left:5px;
  margin-bottom:3px;
  margin-right:5px;

}

/* ------------------------------- media query ------------------------------- */
/* 웹 브라우저 중심으로 배치 */
/* 작성자 : 남채현 마지막 수정:200215 pm 2:13 */
/* 해상도 2000이하 */
@media (max-width: 2600px)  {


  /* ------------------------------- header ------------------------------- */

  .bg-light {
    background-color:#fff!important;  /*헤더배경색*/
    border-bottom:1px solid #000;
  }
  .navbar-brand {
      font-size: 30px;
      font-weight: 700;
  }

  .navbar-nav {
      margin:0 auto;
      letter-spacing:0em;
      font-size:1.2rem;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right:2.5rem;
  }
  .navbar {
      padding:.5rem 2rem;
  }

  #navbarSupportedContent {
    position:relative;
  }

  #nav_user {
    position:absolute;
    right:0;
    font-size:1.2rem;

  }
  .form-control {
    border:none;
    border-radius:0px;
    background-color:transparent;
  }
  .form-control:focus {
      border-color:#fff;
      box-shadow:none;
      background-color:transparent;
 
  }
  /* 내가 추가 */
  #btn_submit {
    width:18px;
    height:18px;
    cursor:pointer;
    outline:none;
    vertical-align:bottom;
  }

  #search_box {
    border-bottom:1px solid #777;
    width:60%;
  }

  #search_box:focus {
    outline:none;
    border-color:#5DB6DE;
  }

  .nav_login {
    font-size:1rem;
  }

  .nav_login a {
    display:block;
    padding-right: 2.5rem;
    color: rgba(0,0,0,.5);
    padding: .5rem 1rem;
  }

  .nav_login a:hover {
    color: rgba(0,0,0,.7);
    text-decoration:none;

  }

  /* ------------------------------- main ------------------------------- */
  /**부트스트렙수정 **/
  .jumbotron {
    border-radius:0;
    width:100%;
    padding:0;

  }
  .container {
      padding:0;
      margin:0;
      width:90%;
      margin:0 auto;
  }

  .container .title {
      font-size: 24px;
      font-weight:700;
      user-select: none;
      margin:0rem 0rem;
  }


.row {
      width:100%;
      margin-left:0px;
  }

  /* 부트스트렙 슬라이드 */

  .carousel-inner {
    height:100%;
  }

  /* 내가 수정 추가 */
  .caption_slide {
    position:absolute;
    left:15%;
    bottom:15%;
  }
  #btn_go {
    font-size:1.2rem;
    border-radius:0.34rem;
    display:block;
    padding:0 9.5em;
    line-height:70px;
    font-weight:bold;
    letter-spacing:1px;
    color:#007bff;
    background-color:#fff;
    text-align:center;
    display:block;
    cursor:pointer;
    transition-duration:0.5s;
  }
  #btn_go:hover {
    background-color:#5DB6DE ;
    color:#fff;
    text-decoration:none;
  }
  .search {
    width:100%;
    height:100px;
    position:relative;
    margin:4rem auto;
  }
  #search_title {
    position:absolute;
    left:0;
    line-height:60px;
  }
  #searchJob_box {
    position: relative;;
    top:0;
    left:50%; transform:translateX(-50%);
    width:60%;
    height:60px;
    padding:0;
    margin:0 0em;
    border-radius:0.5rem;
    background-color:#fff;
    border:1px solid #777;
    transition:0.5s;
    overflow:hidden;
  }

  /* #search_job:focus {
    border-color:1px solid #007bff;
  } */

  #search_job {
    width:88%;
    height:60px;
    border:none;
    padding-left:2em;
    font-size:1.2em;
  }

  #search_job:focus {
    outline:none;
  }

  #btn_searchJob {
    position: absolute;
    right:1.4rem;
    top:1rem;
    width:30px;
    height:30px;
    border:0;
    outline:none;
    background-color:transparent;
    cursor: pointer;
  }

  #pick_job {
    position:absolute;
    width:650px;
    height:30px;
    box-sizing:border-box;
    bottom:0;
    left:50%; transform:translateX(-50%);
  }

  #pick_job ul {
    margin-left:0em;
    margin-right:0em;
    padding-left:0;
    width:650px;
  }

  #pick_job ul li {
    padding-top:0em;
    padding-left:0em;
    text-align:center;
    cursor: pointer;
    margin:0 2rem;
  }

  #pick_job ul li:hover {
      color:rgb(37, 139, 247);
  }

  .floatnone {
    clear:both;
  }

  #intro_wrap{
    width:100%;
    margin:3rem auto;
  }

  #intro_box {
    width:100%;
    margin-top:2rem;
  }

  #recommend_box {
    width:92.8%;
    margin:5rem auto;
  }

  #recommend_inner {
    width:100%;
    margin-top:2rem;
  }

  /*-------------------------- footer--------------------------------------  */
  #footer_box {
    border-top:1px solid #000 ;
  }
  #footer_info {
    width:92.8%;
    margin:0 auto;
  }
  #footer_title {
    color:#333;
    margin-left:10px;
    display:block;
  }
  #footer_info ul {
    display:block;
    margin-bottom:.5rem;
    margin-left:.2rem;
  }

  #footer_info ul li {
    padding-left:10px;
    padding-right:10px;
    font-size:15px;
  }
  #footer_info ul li a {
    color:white;
  }
  #copyrihgt {
    text-align:center;
  }

}

/* 해상도  1920PX 이하  */
@media (max-width:1920px){
  .container {
      width:1100px;
  }
  /* 내가 수정 추가 */
  .caption_slide {
    position:absolute;
    bottom:5rem;
  }
  #btn_go {
    font-size:1.2rem;
    border-radius:0.34rem;
    padding:0 6.5em;
  }

}
/* 해상도 1600 이하 */
@media (max-width:1600px) {
    .caption_slide {
      position:absolute;
      bottom:4rem;
    }

    #btn_go {
      font-size:1.2rem;
      border-radius:0.34rem;
      padding:0 4.3em;
    }

    #atuo_keword{
      width:60%;
    }
  
}

/* 해상도 1280이하 */
@media (max-width:1280px) {
  /* 부트스트렙 슬라이드 */

  .carousel-inner {
    min-height:300px;
  }
    /* ------------------------------- main ------------------------------- */
    /**부트스트렙수정 **/
    .container {
        padding: 0;
        width:900px;
        margin:0 auto;
    }

    /* 내가 수정 추가 */
    .caption_slide {
      position:absolute;
      height:30px;
      left:210px;
      bottom:80px;
    }
    #btn_go {
      font-size:1rem;
      border-radius:0.34rem;
      padding:0 3em;
      line-height:50px;
    }
    #pick_job {
      width:65%;
    }
    #pick_job ul {
      width:100%;
    }
    #pick_job ul li {
      margin:0 1.8rem;
      text-align:left;
    }
    #btn_searchJob {
      right:1.1rem;
      top:1rem; 
    }
    #atuo_keword{
      left:180px;
    }
}
/*해상도 1080 이하 */
@media (max-width:1080px) {
  .caption_slide {
    position:absolute;
    min-height:20px;
    left:15.5%;
    bottom:15%;
  }
  #btn_go {
    font-size:1rem;
    border-radius:0.34rem;
    padding:0 2.8em;
    line-height:50px;
  }
   #pick_job {
      width:58%;
      font-size:0.8rem;

    }
    #pick_job ul {
      width:100%;
    }
    #pick_job ul li {
      margin:0 0;
    }
    #btn_searchJob {
      right:0.8rem;
      top:1rem; 
    }
}

/*해상도 1024 이하 */
@media (max-width:1024px) {
  .container {
      width:800px;
  }
  .caption_slide {
    left:15%;
    bottom:15%;
  }
  #btn_go {
    font-size:1rem;
    border-radius:0.34rem;
    padding:0 2.8em;
    line-height:50px;
  }
  #pick_job {
    width:60%;
    font-size:0.9rem;

  }
  #pick_job ul {
    width:100%;
  }
  #pick_job ul li {
    margin:0 1rem;
  }
  #btn_searchJob {
    width:25px;
    height:25px;
    right:1rem;
    top:1rem; 
  }
  #atuo_keword{
    left:160px;
  }
  
}

/* 해상도 800이하 */
@media (max-width: 800px){

  .title {
      font-size: 1.5em;
  }
  .container {
      width:80%;
  }
  .jumbotron {
      border-radius:0;
      min-height:200px;
      padding:0;
      margin:0;
      margin-bottom:0px;

  }
  .caption_slide {
      display:none;
  }
  .carousel-inner {
    min-height:200px;
  }

  .search {
    width:100%;
    height:100px;
    position:relative;
    margin:2rem auto;
  }
  #search_title {
    position:inherit;
    line-height:60px;
    text-align:center;
  }
  #searchJob_box {
    position:inherit;
    top:0;
    left:0; transform:translateX(0%);
    width:100%;
    height:40px;
    padding:1rem 0;
    margin:0 0em;
    border-radius:0.5rem;
    background-color:#fff;
    border:1px solid #ddd;
    overflow:hidden;
    font-size:0.8rem;
  }
  #search_job {
    position: absolute;
    left: 0px;
    top: 0px;
    width:90%;
    height:40px;
    border:none;
    padding-left:2em;
    font-size:1.2em;
  }
  #btn_searchJob {
    display:inline-block;
    width:20px;
    height:20px;

    right:1.2rem;
    top:0.5rem; 
    background-color:transparent;
    border:0;
    outline:none;
  }

  #pick_job {
    position:relative;
    float:left;
    width:100%;
    height:30px;
    box-sizing:border-box;
    font-size:1.1rem;
    margin-top:0.8rem;
    margin-bottom:1.1rem;
  }
  #pick_job ul {
    width:100%;
    margin-left:0em;
    margin-right:0em;
    padding-left:0em;
  }
  #pick_job ul li {
    padding-top:0em;
    padding-left:0em;
    margin:0 1.7rem;
    font-size:0.8em;
    text-align:left;
  }
  #tb_text {
    display:block;
    text-align:center;
  }
  #intro_wrap{
    width:100%;
    margin:0;
  }
  #atuo_keword{
    top:100px;
    left:0px;
    width:100%;
  
  }


}
/* 해상도 667이하 */
@media (max-width: 667px){
  .container {
      padding: 0;
      width:80%;
      margin:0 auto;
  }
  .jumbotron {
      border-radius:0;
      min-height:150px;
      padding:0;
      margin:0;
      margin-bottom:0em;

  }
  .carousel-inner {
    min-height:150px;
  }
  #tb_text {
    display:block;
    text-align:center;

  }
  #pick_job ul {
    width:100%;
    margin-left:0em;
    margin-right:0em;
    padding-left:0em;
  }
  #pick_job ul li {
    padding-top:0em;
    padding-left:0em;
    margin:0 1.5rem;
    font-size:0.8em;
    text-align:left;
  }
  #search_title {
    position:inherit;
    line-height:60px;
    text-align:center;
  }
  #searchJob_box {
    position:inherit;
    top:0;
    left:0; transform:translateX(0%);
    width:100%;
    height:40px;
    padding:0.3rem 0;
    margin:0 0em;
    border-radius:0.3rem;
    border:1px solid #ddd;
    overflow:hidden;
  }
  #search_job {
    position: absolute;
    left: 0px;
    top: 0px;
    width:82%;
    height:40px;
    border:none;
    padding-left:1em;
    font-size:1.2em;
  }
  #btn_searchJob {
    display:inline-block;
    width:20px;
    height:20px;
    vertical-align:middle;
    margin-left:0.8rem;
    margin-bottom:0.5rem;
    border:0;
    outline:none;
  }

  

}
/* 해상도 576이하 */
@media (max-width: 576px){
  .title {
      font-size: 1.5em;
      font-weight:700;
      user-select: none;
  }
  .container {
      padding: 0;
      width:80%;
      margin:0 auto;
  }
  .jumbotron {
      border-radius:0;
      min-height:150px;
      padding:0;
      margin:0;
      margin-bottom:0px;

  }
  #pick_job ul {
    padding-left:0em;
  }
  #pick_job ul li{
    margin:0 0.5rem
  }
  .caption_slide {
      display:none;
  }
  .carousel-inner {
    min-height:150px;
  }

  #zoom_box {
    height:45px;
    width: 70px;
  }

  #btn_zoomOut {
    padding-right: 0.5rem;
  }

  #zoom_box img {
    width: 18px;
    height: 18px;
  }

  #zoom_box #btn_reset {
    display: none;
  }

}
/* 해상도 400이하 */
@media (max-width: 400px){
  .jumbotron {
      min-height:115px;
      margin-bottom:0px;
  }
  .carousel-inner {
    min-height:115px;
  }
  .search {
    margin:1rem auto;
  }
  #searchJob_box {

    font-size:0.66rem;

  }
  #pick_job {
    position:relative;
    float:left;
    width:100%;
    font-size:0.7rem;
    box-sizing:border-box;
    margin:1.5em 0em;
  }
  #pick_job ul {
    width:100%;
    margin-left:0em;
    margin-right:0em;
    padding-left:0em;
    font-size:0.8em;
  }
  #pick_job ul li {
    display:inline-block;
    padding-top:0em;
    padding-left:0em;
    text-align:left;
  }
  #pick_job ul li:last-child{
    width:85px;
  }
  #btn_searchJob {
    margin-left:0.9rem;
  }

}
/* 해상도 380이하 */
@media (max-width: 380px){
  .title {
      font-size: 1.5em;
      font-weight:700;
      user-select: none;
  }
  .container {
      padding: 0;
      width:80%;
      margin:0 auto;
  }

  .jumbotron {
      border-radius:0;
      min-height:120px;
      padding:0;
      margin:0;
      margin-bottom:0px;

  }
  .caption_slide {
      display:none;
  }
  .carousel-inner {
    min-height:120px;
  }

  .search {
    width:100%;
    height:100px;
    position:relative;
    margin:1rem auto;
  }
  #search_title {
    position:inherit;
    line-height:60px;
    text-align:center;
  }
  #searchJob_box {
    position:inherit;
    top:0;
    left:0; transform:translateX(0%);
    width:100%;
    height:40px;
    padding:0;
    margin:0 0em;
    font-size:0.6rem;
    border-radius:0.3rem;
    background-color:#fff;
    border:1px solid #ddd;
    overflow:hidden;
  }
  #search_job {
    width:82%;
    height:40px;
    border:none;
    padding-left:1em;
    font-size:1.2em;
  }
  .container .title {
    font-size:1.1rem;
  }
  #btn_searchJob {
    display:inline-block;
    width:20px;
    height:20px;
    vertical-align:middle;
    right:0.95rem;
    top:0.55rem;
    border:0;
    outline:none;
  }

  #pick_job {
    position:relative;
    float:left;
    width:100%;
    font-size:0.5rem;
    box-sizing:border-box;
    margin:0em 0em;
  }
  #pick_job ul {
    width:100%;
    margin-left:0em;
    margin-right:0em;
    padding-left:0em;
    font-size:0.8em;
  }
  #pick_job ul li {
    display:inline-block;
    padding-top:0em;
    padding-left:0em;
    text-align:left;
    margin:0.3rem 0.2rem;
  }
 
  #tb_text {
    display:block;
    text-align:center;
  }
  #intro_wrap{
    width:100%;
    margin:0;
  }

  }
