/* search css */
/* 작성자: 남채현 */
select:focus {
  outline: 0;
}

select::-ms-expand {
  display: none;
}

button:focus {
  outline: 0;
}

.wrap {
  width: 1200px;
  /* background-color:#ddd; */
  margin: 0 auto;
}

.title {
  padding-top: 1em;
  padding-bottom: 1em;
}

#job_box {
  display: flex;
  flex-direction: row;
  /* 기본값 */
  justify-content: space-between;
}

.col_box {
  width: 11.5%;
  height: 130px;
  position: relative;
}

.col_box button {
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.col_box img {
  border-radius: 5px;
  position: absolute;
  top: 0;
  max-width: 100%;
  height: 100%;
  max-height: 130px;
  overflow: hidden;
  opacity: 0.8;
}

.col_box span {
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: 0;
  display: block;
  font-size: 0.8em;
  width: 100%;
  padding: 1em 0;
  opacity: 0.8;
  background-color: #000;
  text-align: center;
  color: #fff;
  letter-spacing: 0.1em;
}

#sh_text {
  padding-top: 3rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #333;
}

#search_ico {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  background-image: url('../img/searchico.png');
  background-repeat: no-repeat;
}

#select_box {
  margin: 1rem 0;
}

#area_selectBox {
  display: inline-block;
  width: 100px;
  height: 30px;
  border-radius: 0.2rem;
  border: 1px solid #BFBFBF;
  cursor: pointer;
  padding: 0.12rem 0.3rem;
  margin: 0 0.5rem;
}

#select_box select {
  width: 100px;
  height: 30px;
  border-radius: 0.2rem;
  border-color: #BFBFBF;
  cursor: pointer;
  padding: 0.12rem 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../img/arrow.png');
  background-position: 90% 50%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 1px solid #BFBFBF;
}

#area_selectBox {
  width: 200px;
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  background-position: 90% 50%;
  padding: 0.12rem 0.5rem;
}

#arrow {
  display: inline-block;
}

#area_innerBox {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#area_contents {
  position: relative;
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 25px 40px -20px #3c4a56;
  border-radius: 1rem;
}

#area_close {
  position: absolute;
  display: block;
  right: 0.5rem;
  top: 1rem;
  width: 36px;
  height: 36px;
  background-image: url('../img/cancel.png');
  background-repeat: no-repeat;
  text-indent: -9999px;
  cursor: pointer;
}

#area_contents {
  /* padding:1rem 1rem; */
  width: 70%;
}

#area_contents h3 {
  padding-bottom: 1.5rem;
}

#area_tb {
  width: 100%;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(5, 19%);
  grid-auto-rows: minmax(20px, 50px);
  grid-gap: 10px;
  margin-bottom: 0.5rem
}

.area {
  background-color: #ddd;
  border-radius: 0.3rem;
  line-height: 50px;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
}

#area_tb li:hover {
  color: #fff;
  background-color: #333;
  border-radius: 0.3rem;
}

#areaDetails_tb {
  width: 100%;
}

#areaDetails_tb input {
  vertical-align: middle;
  margin: 0.2rem 0.2rem;
  cursor: pointer;
}

#si_gun_gu {
  display: grid;
  grid-template-columns: repeat(7, 14.2%);
  grid-auto-rows: minmax(20px, 30px);
}

#si_gun_gu label {
  text-align: left;
  font-size: 1rem;
}

#areaDetails_tb #btn_si_gun_gu {
  width: 100%;
  height: 60px;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  box-shadow: none;
  outline: none;
  border: none;
}

#industy_list {
  width: 160px !important;
  margin-left: 0.5rem;
}

.area_active {
  color: #fff;
  background-color: #333;
}

#employment_data {
  width: 100%;
  min-height: 300px;
}

#employment_data ul {
  display: grid;
  grid-template-columns: repeat(4, 23.8%);
  grid-gap: 20px;
  min-height: 300px;
  padding-bottom: 100px;
}

#employment_data ul li {
  position:relative;
  padding: 0 0;
  border: 1px solid #BFBFBF;
  border-radius: 0.23rem;
  font-size: 0.8rem;
}
#employment_data ul li .recruit_text_box {
  padding:0.8rem 0.8rem;
}
#employment_data ul li .interest_insert {
  position:absolute;
  display:block;
  right:0.5rem;
  top:0.5rem;
  padding:1.2rem 1.2rem;
  width:60px;
  height:10px;
  background-color:rgba(0, 0, 0, 0.12);
  z-index:9999;
  border-radius:0.3rem;
  cursor: pointer;
}

.fav_count {
  line-height:15px;
  margin-bottom:1rem;
  position: absolute;
  right:10px;
  top:5px;
}

.heart_img{
  background-image:url('../img/heart_none_click.png');
  background-repeat:no-repeat;
  background-size:contain;
  position: absolute;
  right:30px;
  top:6px;
  width:15px;
  height:15px;
  padding-top:0;
  margin:0 0 0 0.5rem;
  vertical-align:middle;
}
.click_heart{
  background-image:url('../img/heart_click.png');
  background-repeat:no-repeat;
  background-size:contain;
}

#employment_data ul li img {
  max-width: 100%;
  height: 200px;
  border-radius: 0.23rem;
}

#employment_data ul li span {
  display: block;
  margin: 0.3rem 0;
}

#employment_data ul li a:hover {
  color: #000;
}

#employment_data ul li #ep_title {
  font-size: 1.3rem;
}

#employment_data ul li #ep_period {
  color: #888;
}


/**********************지원자css****************************/
#apply_box {
  text-align: center;
  cursor: pointer;
}
#ap_img{
  width:100%;
  height:auto;
  text-align: center;
}

#ap_title {
  font-size:1.5rem;
}
#apply_title #apply_log {
  position: absolute; 
  left:1rem;
  bottom:0.5rem;
  width:33px;
  height:33px;
  background-image:url('../img/apply.png');
  background-repeat:no-repeat;
  background-size:cover;

} 
#ap_pay,#ap_address {
  font-size:1rem;
}
#apply_title {
  position: relative;
  line-height:50px;
  border-bottom:1px solid #333;
  margin-bottom:2rem;
}
#ex_text {
  margin:3rem 1rem;
  font-size:1rem;
  
}
#apply_inner {
  padding-left:3.5rem;
}



/************************* 애니메이션 **************/
/* 구직 내용 애니메이션  fade in */
.fadein {
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
}

/*모달 애니메이션 열기*/
.open {
  -webkit-animation: appear .8s cubic-bezier(.77, 0, .175, 1) forwards;
}

/* 모달 애니메이션 닫기 */
.cancel {
  -webkit-animation: dissappear .8s cubic-bezier(.77, 0, .175, 1) forwards;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes dissappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
