

#div_resume_main {
    width:1100px;
    margin:0 auto;

}
#resume_title{
    margin:2rem 0rem;
    border-bottom:1px solid #333;
    line-height:80px;
}
#title_inner {
    margin-left:0.5rem;
}
#title_img {
    display: inline-block;
    width:38px;
    height: 38px;
    background-image:url('../img/resume.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    vertical-align:middle;
    
}
#div_image_profile {
    width:60%;
    margin:0 auto;
    padding-right:6rem;
}
#resume_img_box {
    width:200px;
    height:267px;
    float: left;
    display:block;
    padding:0.5rem 0.5rem;
    border:1px solid #ddd;
    background-color:#fff;
    border-radius:0.5rem;
    box-sizing:border-box;
    text-align: center;
    
}
.colume {
    display:inline-block;
    width:80px;
    border-right: 1px solid #333;
    margin-right:1rem;
}
#div_image_profile img{
    width:100%;
    height:100%;
}
#div_image_profile ul {
    float: right;
    width:60%;
    padding-top:0.5rem;
    
}
#div_image_profile ul li{
    display:block;
    margin-bottom:20px;
    letter-spacing:0px;
    
    
}
#div_cover_letter {
    clear: both;
    width:60%;
    margin:0 auto;
}
#div_cover_letter_detail {
    width:100%;
}
#div_cover_letter_detail  p {
    width:100%;
}
.self_intro_text {
    width:100%;
    background-color:#fff;
    border-radius:0.3rem;
    border-color:rgb(197, 197, 197);
    resize:none;
    padding:0.5rem 0.5rem;
    box-sizing:border-box;
}

#div_show #btn_show {
   width:100%;
   height:50px;
   margin-top:1rem;
   border:0;
   outline:none;
   background-color:#fff;
   text-align:center;
   border:0px;
   line-height:50px;

}
#btn_more_img {
    display: inline-block;
    width:25px;
    height:25px;
    background-image:url('../img/down_arrow.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    vertical-align:middle;
    margin-right:1rem;
    cursor: pointer;
}
.div_present p {
    margin:1rem 0rem;
    text-align: center;
}
.div_present textarea {
    text-align: center;
}
#div_resume_detail {
    display:none;
}

