#div_member{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
  top: 72px;
  left: 230px;
}
strong{
  color: red;
}
#div_member label {
  width: 100px;
  margin-bottom: 10px;
}
#div_member input{
  width: 452px;
  height: 37px;
  border-radius: 3px;
  border: 1px solid #777;
  text-align: center;
  margin-bottom: 20px;
  /* padding-top: 5px; */
  vertical-align: middle;
}
#member_name{
  line-height: 20px;
}
#div_member #input_name{
  width: 250px;
  height: 37px;
  border-radius: 3px;
  border: 1px solid #777;
}
#div_member #div_toggle{
  margin-bottom: 10px;
}
#member_address input{
  width: 224px;
}
#btn_address{
  background-color: lightblue;
  color: white;
}
#basic_address #detail_address{
  display: block;
  position: absolute;
}
#add_address{
  width: 452px;
  height: 37px;
  border-radius: 3px;
  display: block;
  position: relative;
  left: 102px;
}
#div_button{
  display: block;
  position: relative;
  top: 120px;
  left: 102px;
}
#div_button input{
  background-color: lightblue;
  color: white;
}
#div_apply{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
  top: 72px;
  left: 190px;
}
#tb_apply{
  border-collapse: collapse;
  margin: 0 auto;
  width: 900px;
  border-bottom: 3px solid gray;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
}

th {
  background-color: #777;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 12px 0;
  border: 1px solid #777;
}

td {
  border: 1px dotte gray;
  padding: 10px 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #D6EEFE;
}
tr.th_first{
  border-left: 1px solid gray;
}
.th_group{
  text-align: center;
}
#alarm_message{
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 15px;
  margin: 0 auto;
  width: 900px;
  top: 72px;
  left: 190px;
}

#alarm_message ul li{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #777;
  margin-bottom: 40px;
}
#message{
  display: block;
  margin-top: 10px;
}
.alarm_content{

}
.alarm_receive{
  position: absolute;
  right: 0;
}
