nav {
    position: fixed;
    width: 100%;
}

form, ul {
    text-align: center;
}

.nav-link {
    cursor: pointer;
}

#btn_top {
    font-size: 16px;
    color: #555;
    font-style: italic;
    border: 0;
    position: fixed;
    right: 5rem;
    bottom: 2rem;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}

#admin_main_top {
    height: 900px;
    background: url("../img/admin_main.jpeg") no-repeat;
}

#main_top_logo {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-55%);
}

.admin_menu {
    padding: 60px 0;
}
.admin_menu .title {
    margin-bottom: 60px;
}

.manage_member_list, .manage_product_list, .plan_list {
    display: block;
    margin-bottom: 5rem;
}

.manage_member_item, .manage_product_item {
    text-align: center;
    width: 12rem;
    height: 12rem;
    margin: 10px;
    background-color: #eee;
    border-radius: 100px;
    padding: 23%;
}

.target {
    animation: 2s focus linear;
}

@keyframes focus{
    0%{color: transparent;}
    10%{color: black}
    80%{color: black;}
    90%{color: transparent;}
    100%{color: black;}
}

#btn_search_member {
    width: 4rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #777;
}

#sort_plan_list {
    float: right;
    margin-right: 5rem;
}

.add_plan select {
    width: 100px;
    /* border: 0;
    background-color: white;
    padding: 0.2rem 1rem; */
}

.plan_list {
    clear: both;
}

.plan_list span {
    display: inline-block;
    text-align: center;
}

.plan_list li:first-child {
    padding: 0.5em;
    border-top: 1.5px solid #555;
    border-bottom: 1.5px solid #555;
}

.plan_list li span {
    line-height: 1rem;
}

.plan_list .col1 {
    width: 50px;
}

.plan_list .col2 {
    width: 150px;
}

.plan_list .col3 {
    width: 150px;
}

.plan_list .col4 {
    width: 150px;
}

.plan_list .col5 {
    width: 150px;
}

.plan_list .col6 {
    width: 150px;
}

#btn_write_notice {
    border: 0;
    border-radius: 20px;
    background-color: #ddd;
    padding: 0.5em 1.5em;
    color: #555;
    outline: 0;
}

.cs_content {
    width: 100%;
    text-align: center;
    
}

.cs_content div {
    display: inline-block;
}

#cs_left {
    float: left;
    width: 50%;
}

#cs_right {
    float: left;
    width: 50%;
    line-height: 3rem;
}

.btn-group>.btn.active {
    z-index: 0;
}

#manage_member .modal {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: fixed;
    top: 25%;
    left: 25%;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
}

#manage_member .modal_overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

#manage_member .modal_content {
    text-align: center;
    background-color: #eee;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 35px 15px;
}

#manage_member .btn_close {
    z-index: 2;
    cursor: pointer;
    background-color: transparent;
    float: right;
    margin-right: 10px;
    font-size: 1.5rem;
    border: 0;
    outline: 0;
}

.modal_content .modal_title {
    display: inline-block;
}

.modal_content label {
    width: 18%;
}

.modal_content input {
    width: 77%;
    height: 2.5rem;
    margin: 0.5rem;
    padding: 15px;
    outline: 0;
}