/* common */
nav {
    position: fixed;
    width: 100%;
}

form, ul {
    text-align: center;
}

.navbar {
    background-color: black;
    /* position: fixed; */
    width: 100%;
    z-index: 1600;
}

.nav-link {
    cursor: pointer;
}

.admin_container {
    width: 1100px;
    margin: 0 auto;
}

#btn_top {
    font-size: 16px;
    color: #555;
    font-style: italic;
    border: 0;
    position: fixed;
    right: 5rem;
    bottom: 2rem;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}

.admin_menu {
    padding: 60px 0;
}
.admin_menu .title {
    margin-bottom: 60px;
    font-weight: 600;
}

.chart {
    text-align: center;
}

/* top */
#admin_main_top {
    height: 900px;
    background: url("../img/admin_main.jpeg") no-repeat;
}

#main_top_logo {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-55%);
}

/* manage member */
.manage_member_list, .manage_product_list, .plan_list {
    display: block;
    margin-bottom: 3rem;
}

.manage_member_item, .manage_product_item {
    text-align: center;
    width: 12rem;
    height: 12rem;
    margin: 10px;
    background-color: #eee;
    border-radius: 100px;
    padding: 23% 0;
}

/* .target {
    animation: 2s focus linear;
}

@keyframes focus{
    0%{color: transparent;}
    10%{color: black}
    80%{color: black;}
    90%{color: transparent;}
    100%{color: black;}
} */

.search_member {
    margin-bottom: 3rem;
}

#manage_member .modal {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: fixed;
    top: 25%;
    left: 25%;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 65%;
}

@-webkit-keyframes appear {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

#manage_member .modal_overlay {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

#manage_member .modal_content {
    text-align: center;
    border-radius: 20px;
    background-color: #eee;
    position: relative;
    width: 100%;
    height: 580px;
    padding: 35px 15px;
    /* overflow: auto; */
    -webkit-animation: appear .6s cubic-bezier(.77, 0, .175, 1) forwards;
}


.modal_content .modal_title {
    display: inline-block;
    letter-spacing: -0.3px;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.modal_content button {
    padding: 0.2rem 0.5rem;
}

.modal_content label {
    width: 18%;
    letter-spacing: -0.3px;
    font-weight: bolder;
}

.modal_content input {
    width: 77%;
    height: 2.5rem;
    margin: 0.5rem;
    padding: 15px;
    outline: 0;
}

.modal_content .btn_close {
    z-index: 2;
    cursor: pointer;
    background-color: transparent;
    float: right;
    margin-right: 10px;
    font-size: 1.5rem;
    border: 0;
    outline: 0;
    padding: 0;
}

.apply_history {
    width: 95%;
    display: inline-block;
    height: 5rem;
    overflow: auto;
    background-color: white;
    margin: 0.5rem 0 1rem 0;
}

.apply_history li {
    display: block;
}

.apply_history ul {
    width: 100%;
}

.apply_history div{
    background-color: #ddd;
    border-bottom: 1px solid #777;
    font-weight: bolder;
}

.apply_history .col1, .apply_history .col2, .apply_history .col3 {
    display: inline-block;
    width: 33%;
    letter-spacing: -1px;
    overflow: hidden;
}

/* manage product */
#manage_product .chart {
    margin-bottom: 5rem;
}

#sort_plan_list {
    float: right;
    margin-right: 5rem;
}

#add_plan_form input, #search_member_form input{
    height: 2.5rem;
    border : 0;
    border-bottom: 1px solid #777;
}

#add_plan_form label {
    width : 10rem;
}

.add_plan select {
    width: 100px;
}

.plan_list {
    clear: both;
}

.plan_list span {
    display: inline-block;
    text-align: center;
}

.plan_list li:first-child {
    padding: 0.5em;
    border-top: 1.5px solid #555;
    border-bottom: 1.5px solid #555;
}

.plan_list li span {
    line-height: 1rem;
}

.plan_list .col1 {
    width: 50px;
}

.plan_list .col2, .plan_list .col3, .plan_list .col4, .plan_list .col5 {
    width: 9rem;
}

.plan_list:first-child .col6 {
    width: 8rem;
    text-align: left;
    text-indent: 2rem;
}

.plan_list_item .col1 {
    width: 50px;
    text-indent: -1.5rem;
}

.plan_list_item .col5 {
    margin-right: -1rem;
}

.plan_list_item {
    padding: 0.3rem;
    line-height: 2rem;
}

.plan_list_item a {
    cursor: pointer;
}

.plan_list_item col6 {

}

.btn-group>.btn.active {
    z-index: 0;
}

#map_chart, #donut_chart {
    display: inline-block;
}

#donut_chart {
    position: relative;
    left: 1rem;
}

/* customer support */
#btn_write_notice {
    border: 1px solid #555;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    color: #555;
    outline: 0;
    cursor: pointer;
}

.cs_content {
    display: inline-block;
    width: 1005px;
    text-align: center;
    position: relative;
    top: 15rem;
    user-select: none;
}

.cs_content div {
    display: inline-block;
}

#cs_left {
    /* float: left; */
    width: 500px;
    height: 5rem;
    padding-left: 10rem;
    font-size: 1.3rem;
}

#cs_right {
    vertical-align: top;
    position: relative;
    width: 500px;
    line-height: 3rem;
    padding-right: 10rem;
    color: white;
    background-image: url('../img/speech_bubble.png');
    background-position: 22%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
}

#cs_left div{
    position: relative;
    top: 1rem;
}

.qna_count_container {
    font-weight: 600;
    font-size: larger;
}

#cs_right a {
    position: absolute;
    top: 0.7rem;
    left: 8rem;
}

#customer_support {
    background-image: url('../img/cs_img.png');
    background-position: 0 35%;
    background-repeat: no-repeat;
    background-size: contain;
}

#btn_search_member, #btn_add_plan {
    width: 4rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #777;
}

#manage_product #btn_add_plan, #manage_member #btn_search_member {
    margin: 0 1rem;
    border: 1px solid #777;
}